<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>announecements</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="/homeJs/jquery.min.js"></script>
    <script src="/homeJs/jquery.dropotron.min.js"></script>
    <script src="/homeJs/jquery.scrolly.min.js"></script>
    <script src="/homeJs/jquery.onvisible.min.js"></script>
    <script src="/homeJs/skel.min.js"></script>
    <script src="/homeJs/skel-layers.min.js"></script>
    <script src="/homeJs/init.js"></script>
    <!-- <script src="/getDistance.js"></script> -->
    
    <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link rel="stylesheet" href="/homeCss/skel.css" />
        <link rel="stylesheet" href="/homeCss/table.css" />
        <link rel="stylesheet" href="/homeCss/style.css" />  
        <link rel="stylesheet" href="/homeCss/style-desktop.css" />
        <link rel="stylesheet" href="/homeCss/style-noscript.css" />
    </noscript>
    <style>
    * {
    box-sizing: border-box;
    }

    input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
    }

    label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    }

    input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }

    .containers {
    border-radius: 10px;
    border-color: black;
    
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    
    }

    .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    }

    .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    text-decoration-color: black;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    }
    </style>
</head>
<body>



    <!-- Header -->
        <div id="header" style="background-color: #005266;">

            <!-- Inner -->
            <br><br>
                <div class="inner">
                    <header>
                        <h1><a href="/" id="logo">ANNOUNCEMENTS</a></h1>
                    </header>
                </div>
            
            <!-- Nav -->
                <nav id="nav">
                      <h2 style="float:left;margin-left:2%;font-family:papyrus;color:tomato"><a href="/" id="logo">ZUBEEGO</a></h2>
                    
                    <ul style="float:right;">
                        <!-- <li>
                            <a href="">dropdown</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                                <li>
                                    <a href="">And a submenu &hellip;</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Phasellus consequat</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li><a href="#">Etiam dolore nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li>
                            </ul>
                        </li> -->
                        
                        <li ><a href="/add_restaurants">Add Restaurant</a></li>
                        <li ><a href="/showrestaurants">Search Location</a></li>
                        <li ><a href="/announcements">Announcements</a></li>
                        <li ><a href="/viewprofile">View Profile</a></li>
                        <li ><a href="/feedback">FeedBack</a></li>
                        <li ><a href="/logout">Logout</a></li>
                    </ul>
                </nav>

        </div>


  <!-- Announcements -->


    <div class="container" style="background-color: black;height: 10%; width:auto;padding-left:2%;padding-right:2%;padding-bottom:2%;color:#005266">
      <article id="main" class="special">
        
        <!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
        
        <div class="container">
          <div class="row">
            <% Announcements.slice().reverse().forEach(function(announcement){%>
            
              
            <div class="6u card" style="padding-left:10%;padding-right:5%">
              <section class="special">                
                <h3 style="float: left;color: #cc3399;"><a href="location2.html"><%=announcement.location.formattedAddress%></a></h3>

                <!-- <a href="/announcements/<%=announcement.id%>/edit" >
                  <button style="float: right;margin-left:2%;background-color:black;color:#cc3399">Edit</button>
                </a> -->
                <form action="/announcements/<%=announcement.id%>?_method=DELETE" method="POST">
                  <button type="submit"style="float: right;margin-left:2%;background-color:black;color:#009999">Delete</button>
                </form>
                
                <br>
                <h5><a href="location2.html"><%=announcement.announcedBy.username%></a></h5>
                <br>
                <p style="color: #009999;"><%=announcement.text%></p>
                <ul class="actions">
                  <li><a><i class="fas fa-angry" ></i></a></li>
                  <li><a><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                  <li style="float: right;color: #cc3399;">valid till: 12/05/2021 </li>
                  <!-- <a><i class="fa fa-heart" aria-hidden="true"></i></a> -->
                  
                </ul>

              </section>
            </div>
           
            <%})%>
          </div>
        </div> 
      </article>					
    </div>
 

<!-- Footer -->
<div id="footer">
  <div class="container">
   
    <div class="row">
      <div class="12u">
        
        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Nisl turpis nascetur interdum?</h3>
            </header>
            <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>




</body>
</html>
