<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="/public/homeJs/jquery.min.js"></script>
		<script src="/public/homeJs/jquery.dropotron.min.js"></script>
		<script src="/public/homeJs/jquery.scrolly.min.js"></script>
		<script src="/public/homeJs/jquery.onvisible.min.js"></script>
		<script src="/public/homeJs/skel.min.js"></script>
		<script src="/public/homeJs/skel-layers.min.js"></script>
		<script src="/public/homeJs/init.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/f6c224efb3.js" crossorigin="anonymous"></script>
		
        <noscript>    
        <link rel="stylesheet" href="/public/homeCss/skel.css" />        
        <link rel="stylesheet" href="/public/homeCss/style.css" />
        <link rel="stylesheet" href="/public/homeCss/style-noscript.css" />    
        </noscript>
        <!-- <link rel="stylesheet" href="/public/homeCss/style-desktop.css" /> -->
			
	  
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

        <style>
            .featured{
                background-color: black;
            }
            .articleImg{
                background-color: black;
            }
            .new-button {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px; 
                cursor: pointer;
                border-radius: 4px;
                background-color: #009999;
                font-size: 12px;
                color: #fff;
            }
            input[type="file"] {
              position: absolute;
              z-index: -1;
              top: 6px;
              left: 0;
              font-size: 10px;
              color: rgb(153,153,153);
            }
            .button-wrap {
                position: relative;
              }
              @media only screen and (max-width: 1200px) {
                #sidebar {
                    display: none;
                }
            }
            @media only screen and (min-width: 1200px) {
                #carouse {
                    display: none;
                }
            }
        </style>
	</head>

    <body class="no-sidebar" >

        <!-- Header -->
        <div id="header" style="background-color: #005266;height:20%">
    
    
            <br><br>
            <!-- Inner -->
                <div class="inner">
                    <header>
                        <h2 style="color: white;"><%=foundDest.name%></h2>
                        <h4 style="color: white;"><%=foundDest.location.formattedAddress%></h4>
                    </header>
                </div>
            
            <!-- Nav -->
            <nav id="nav">  
                <h2 style="float:left;margin-left:2%;font-family:papyrus;color:tomato"><a href="/" id="logo">ZUBEEGO</a></h2>
                <ul style="float:right">
                    <li>
                        <a href="">Add</a>
                        <ul>
                            <li><a href="/add_restaurants">Add Restaurant</a></li>
                            <li><a href="/add_hotel">Add Hotel</a></li>
                            <li><a href="/add_destination">Add Destinations</a></li>                                
                        </ul>
                    </li>
                    <li>
                        <a href="">Search</a>
                        <ul>
                            <li><a href="/showrestaurants">Search Restaurant</a></li>
                            <li><a href="/showhotel">Search Hotel</a></li>
                            <li><a href="/showdestination">Search Destinations</a></li>                                
                        </ul>
                    </li>
                    <li ><a href="/announcements">Announcements</a></li>
                    <li ><a href="/viewprofile">View Profile</a></li>
                    <li ><a href="/feedback">FeedBack</a></li>
                    <li ><a href="/logout">Logout</a></li>
                </ul>
            </nav>
    
        </div>
    <!-- header end-->
    
        
    
    <!--review section-->
    
    <div class="wrapper style1" style="background-color: black;">
    
    <div class="container">
        <div class="row 200%">
            <!-- <form action="/restaurants/<%=foundRestaurant.id%>/image" method = "POST" enctype="multipart/form-data">
                <div class="col-75" style="position: relative;float:right">                  
                    <label class ="new-button" for="imgfile" style="font-size:100%;"> Add Image</label>
                    <input id="imgfile" name="imgRestOther" accept="image/*" type="file" multiple> 
                    <b><div id="file-upload-filename"></div></b>
                </div>
                <button type="submit">Submit</button>  
            </form>  -->
            <section class="carousel" id="carouse" style="background-color: black;">
				<div class="reel" style="background-color: black;">
                    <% foundDest.images.slice().reverse().forEach(function(image){%>
					<article class="articleImg" style="background-color: black;">
                        <img src="<%=image.url%>" class="image featured" alt="cd" />                   						
                    </article>
                    <%})%>
                    	
				</div>
                <form action="/dests/<%=foundDest.id%>/imagemob" method = "POST" enctype="multipart/form-data">
                <div style="position: relative;" style="background-color: black;">         
                    <label class ="new-button" for="imgfile1" style="font-size:100%"> Add Image</label>
                    <input id="imgfile1" name="imgDestOther1" accept="image/*" type="file" multiple>
                    <b><div id="file-upload-filename1"></div></b>
                </div>
                <button type="submit">Submit</button>
                </form>
                
			</section>

          

            <div class="8u" id="content">
                <article id="main">
                       
                    <div class="card" style="padding-left:1%;padding-right:1%;margin-bottom:1%;background-color: #000000">
                        <div style="padding:1%">
                            <section class="special">  
                                <h3 style="color: #cc3399;">Add Your Review</h3>              
                                <form action="/dests/<%=foundDest.id%>" method="POST" enctype="multipart/form-data">
                                    <div class="d-flex flex-row align-items-start">
                                        <!-- <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"> -->
                                        <textarea class="form-control ml-1 shadow-none textarea" name="text"></textarea>
                                    </div>                                    
                                    <div class="mt-2 text-right">
                                        <ul >
                                        <li style="display:inline;"><div class="col-75" style="position: relative;"> 
                                            <label class ="new-button" for="imgfile"> Upload Image</label>
                                            <input id="imgfile" name="imgReview" accept="image/*" type="file" multiple>
                                            <b><div id="file-upload-filename" style="font-size: 80%;"></div></b>
                                        </div></li>
                                        <li style="display:inline;"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post review</button></li>
                                        <li style="display:inline;"><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></li>
                                        </ul>
                                    </div>
                                </form>
                            </section>
                        </div>                                                                       
                    </div>
                    
                    <% foundDest.reviews.slice().reverse().forEach(function(review){%>
                    <div  style="padding-left:1%;padding-right:1%;margin-bottom:1%">
                        <div style="padding:1%">
                            <section class="special">                
                                <h3 style="color: #cc3399;"><a href="location2.html"><%=review.author.username%></a></h3>
                                <h6><%=review.time1%></h6>
                                <br>
                                <%if(review.images.length){%>
                                <img src="<%=review.images[0].url%>" alt="" class="image featured"/>
                                <%}%>
                                <p style="color: #009999;"><%=review.text%></p>
                                    <ul class="actions">                                  
                                  <li style="display:inline;"><span onclick="showSolidHeart()" id="openheart"><i class="fa fa-heart-o" aria-hidden="true"></i></span><span onclick="showOpenHeart()" id="solidheart" style="display: none;"><i class="fa fa-heart" aria-hidden="true" ></i></span></li>
                                  <li style="display:inline;"><span onclick="showSolidAngry()" id="openangry"><i class="far fa-angry" ></i></span><span onclick="showOpenAngry()" id="solidangry" style="display: none;"><i class="fas fa-angry" ></i></span></li>                                  
                                  <a href="/dests/<%=foundDest.id%>/reviews/<%=review.id%>"><li style="display:inline;" class="like p-2 cursor " ><i class="fa fa-commenting-o"></i><span class="ml-1">Comments</span></li></a>                               
                                </ul>
                            </section>
                        </div>                                                  
                    </div>
                    <%})%>
                </article>
            </div>
            
            <div class="4u hidden-xs" id="sidebar">
                <article>
                    <form action="/dests/<%=foundDest.id%>/imageLap" method = "POST" enctype="multipart/form-data">
                    <div class="col-75" style="position: relative;float:right">                  
                        <label class ="new-button" for="imgfile2" style="font-size:100%;"> Add Image</label>
                        <input id="imgfile2" name="imgDestOther2" accept="image/*" type="file" multiple> 
                        <b><div id="file-upload-filename2"></div></b>
                    </div>
                    <button type="submit">Submit</button>  
                    </form>                 						
                </article>
                <% foundDest.images.slice().reverse().forEach(function(image){%>
					<article class="articleImg" style="background-color: black;">
                        <img src="<%=image.url%>" class="image featured" alt="cd" />                   						
                    </article>
                <%})%>
            </div>
            
        </div>        
    </div>
    </div>
    
<!-- review end-->

<!-- offers -->
<div class="card wrapper style1" style="background-color: black;margin-top:1%;height:fit-content; width:auto;padding-left:2%;padding-right:2%;padding-bottom:2%;color:#005266">
    <div class="container" >
        <article id="main" class="special">
            <header>
				<h2>Offers</h2>							
			</header>   
            <!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->
            
            <div class="container">
                <div class="row">
                    <% foundDest.offers.slice().reverse().forEach(function(Offer){%>
                    <div class="6u" style="padding-left:10%;padding-right:5%">
                        <section class="special">     
                            <br>
                            <img src="<%=Offer.images[0].url%>" style="height:80%;width:80%;border-radius:5%;margin-left:auto;margin-right:auto;width:100%"><br>
                            <p style="color: #009999;"> <%=Offer.text%></p> 
                            <%if(foundRestaurant.createdBy.id.equals(currentUser._id)){%>
                            <form action="/dests/<%=foundDest.id%>/offer/<%=Offer.id%>?_method=DELETE" method="POST">
                                <button type="submit"style="float: right;margin-left:2%;background-color:black;color:#009999">Delete</button>
                            </form> 
                            <%}%>                         
                        </section>
                    </div>
                    <%})%>                    
					
                </div>
            </div>						
        </article>					
    </div>
</div>    
   
    
    <!-- Footer -->
            <div id="footer" style="margin-top: 1%;">
                <div class="container">
                    
                    <div class="row">
                        <div class="12u">
                            
                            <!-- Contact -->
                                <section class="contact">
                                    <header>
                                        <h3>Nisl turpis nascetur interdum?</h3>
                                    </header>
                                    <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
                                    <ul class="icons">
                                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                                        <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                                    </ul>
                                </section>
                            
                            <!-- Copyright -->
                                <div class="copyright">
                                    <ul class="menu">
                                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                    </ul>
                                </div>
                            
                        </div>
                    
                    </div>
                </div>
            </div>
    

            <script>
                var input = document.getElementById( 'imgfile' );
                var infoArea = document.getElementById( 'file-upload-filename' );
                console.log(input)
                console.log("cdnkn knxm")
                console.log(infoArea)
                input.addEventListener( 'change', showFileName );
            
                function showFileName( event ) {
                
                // the change event gives us the input it occurred in 
                var input = event.srcElement;
                
                // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                var fileName = input.files[0].name;
                
                // use fileName however fits your app best, i.e. add it into a div
                infoArea.textContent = fileName;
                }
            </script>

            <script>
                var input1 = document.getElementById( 'imgfile1' );
                var infoArea1 = document.getElementById( 'file-upload-filename1' );
                
                input1.addEventListener( 'change', showFileName1 );
            
                function showFileName1( event ) {
                
                // the change event gives us the input it occurred in 
                var input1 = event.srcElement;
                
                // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                var fileName1 = input1.files[0].name;
                
                // use fileName however fits your app best, i.e. add it into a div
                infoArea1.textContent = fileName1;
                }
            </script>

            <script>
                var input2 = document.getElementById( 'imgfile2' );
                var infoArea2 = document.getElementById( 'file-upload-filename2' );

                input2.addEventListener( 'change', showFileName2 );

                function showFileName2( event ) {
                
                // the change event gives us the input it occurred in 
                var input2 = event.srcElement;
                
                // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                var fileName2 = input2.files[0].name;
                
                // use fileName however fits your app best, i.e. add it into a div
                infoArea2.textContent = fileName2;
                }
            </script>

            <script>
                function showSolidHeart(){
                    document.getElementById("openheart").style.display="none";
                    document.getElementById("solidheart").style.display="inline";
                }
                function showOpenHeart(){
                    document.getElementById("solidheart").style.display="none";
                    document.getElementById("openheart").style.display="inline";
                }
                function showSolidAngry(){
                    document.getElementById("openangry").style.display="none";
                    document.getElementById("solidangry").style.display="inline";
                }
                function showOpenAngry(){
                    document.getElementById("solidangry").style.display="none";
                    document.getElementById("openangry").style.display="inline";
                }
            </script>
            
    </body>
    
</html>