

<%- include('partials/header') -%>

					<!-- <div class="inner">
						<header>
							<h1><a href="home.html" id="logo">ZUBEEGO</a></h1>
						</header>
					</div> -->

			</div>

			<div id="map" style="width: 100%; height: 530px; border-radius: 5px;"></div>
			<link rel ="stylesheet" href="/homeCss/map.css">
			<script>
                var Restrants = <%- JSON.stringify(Restaurant) %>;
				var Hotels = <%- JSON.stringify(Hotel) %>;
				var Dests = <%- JSON.stringify(Dest) %>;
            </script>
			<script src ="/homeJs/map.js"></script>
			
			<!-- carousel -->
			<section class="carousel">
				<div class="reel">

					<article>
						<a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Pulvinar sagittis congue</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic1.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Fermentum sagittis proin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic2.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Sed quis rhoncus placerat</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic3.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Ultrices urna sit lobortis</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic4.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Varius magnis sollicitudin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>

					<article>
						<a href="#" class="image featured"><img src="../images/pic5.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Pulvinar sagittis congue</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic6.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Fermentum sagittis proin</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="#" class="image featured"><img src="/images/pic8.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Sed quis rhoncus placerat</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>			

				</div>
			</section>

		<div class="card wrapper style1" style="background-color: black;margin-top:1%;height:fit-content; width:auto;padding-left:2%;padding-right:2%;padding-bottom:2%;color:#005266">
			<div class="container" >
				<article id="main" class="special">
					<header>
						<h2><a href="">Announcements</a></h2>							
					</header>
					<!-- <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a> -->						
					<div class="container">
						<div class="row">
		
							<div class="6u " style="padding-left:5%;padding-right:5%">
								<section class="special">                
									<h3 style="color: #cc3399;"><a href="location2.html">Location2</a></h3>
									<h5><a href="location2.html">Username1</a></h5>
									<br>
									<p style="color: #009999;"> The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some task, then he must solve it to the end, without being distracted by another task. After switching to another task, Polycarp cannot return to the previous task.</p>
									<ul class="actions">
									<li><a><i class="far fa-angry" ></i></a></li>
									<li><a><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li style="float: right;color: #cc3399;">valid till: 12/05/2021 </li>
									<!-- <a><i class="fa fa-heart" aria-hidden="true"></i></a> -->									
									</ul>
								</section>
							</div>
							<div class="6u " style="padding-left:5%;padding-right:5%">
								<section class="special">                
									<h3 style="color: #cc3399;"><a href="location2.html">Location2</a></h3>
									<h5><a href="location2.html">Username1</a></h5>
									<br>
									<p style="color: #009999;"> The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some task, then he must solve it to the end, without being distracted by another task. After switching to another task, Polycarp cannot return to the previous task.</p>
									<ul class="actions">
									<li><a><i class="fas fa-angry" ></i></a></li>
									<li><a><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li style="float: right;color: #cc3399;">valid till: 12/05/2021 </li>
									<!-- <a><i class="fa fa-heart" aria-hidden="true"></i></a> -->									
									</ul>
								</section>
							</div> 
							
						</div>
					</div>
						<hr>
				</article>					
			</div>
		</div>	

		<%- include('partials/footer') -%>
		

		


